/* حل قص الصفحة */
html, body {
    height: auto !important;
    overflow: visible !important;
}

/* إصلاح الجدول */
.products-table {
    page-break-inside: auto;
}

.products-table tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

.products-table td,
.products-table th {
    page-break-inside: auto;
}

/* إصلاح الصور */
img {
    max-width: 100% !important;
    height: auto !important;
    display: block;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
