@media print {

    @page {
        size: A4;
        margin: 10mm;
    }

    body {
        width: 210mm;
    }

    .invoice {
        page-break-inside: avoid;
    }

    .totals-wrapper,
    .contact-bar,
    .thanks {
        page-break-inside: avoid;
    }
}
