/* Fi-Khidmatik-by-Al-Itqan-Plus/admin-customers-suite/css-styles/hub-style.css */
:root {
    --itqan-blue: #001f3f;
    --itqan-gold: #c5a059;
}

body {
    direction: rtl;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

/* تنسيق خاص بالصفحات داخل مجلد mm */
.component-container {
    padding: 15px;
    background: #fff;
}
